{% extends 'base_html/base.html' %} {% block body %}

<div class="row my-5">
    <div class="col-6 offset-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <div class="container">
                    <div class="row p-2">
                        <div class="col-lg-12">
                            <form action="{% url 'auth_user:signin' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email_login">Email address</label>
                                    <input type="email" class="form-control" id="email_login" name="html_email" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="password_login">Password</label>
                                    <input type="password" class="form-control" id="password_login" name="html_password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    {% include 'base_html/errors.html' %}
                </div>
            </div>
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                <div class="container">
                    <div class="row p-2">
                        <div class="col-lg-12">
                            <form action="{% url 'auth_user:signup' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name_register">Full Name</label>
                                    <input type="text" class="form-control" id="name_register" name="html_name" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label for="email_register">Email address</label>
                                    <input type="email" class="form-control" id="email_register" name="html_email" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="password_register">Password</label>
                                    <input type="password" class="form-control" id="password_register" name="html_password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="confirm_password_register">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm_password_register" name="html_confirm" placeholder="Confirm Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    {% include 'base_html/errors.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}